.home-container{
    margin: calc(70px + 2.5rem) 15rem 0 15rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.courses{
    margin: 2rem 15rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.courses-container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 240px;
    width: 310px;
    background-color: #EDF2FA;
    justify-content: space-between;
    align-items: start;
    margin-top: 1.5rem;
    border-radius: 15px;
}